.container {
  margin-left: 10rem;
  margin-right: 10rem;
  display: grid;
  height: 100vh;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.3fr 2.2fr 0.2fr;
  grid-template-areas:
    "nav nav "
    "content1 content2"
    "footer footer";
  grid-gap: 0.5rem;
}

nav {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  padding: 21px;
  background-color: #f1b637;
  grid-area: nav;
}
#left {
  display: flex;
}

#right {
  color: #043f49e3;
}
#left div {
  margin-right: 10px;
  border-bottom: 0px solid transparent;
}

.link-wrapper a {
  color: #043f49e3;
  text-decoration: none;
  transition: color 0.5s;
}

.link-wrapper a:hover {
  cursor: pointer;
  color: black;
}

#content1 {
  background-color: rgb(241, 250, 241);
  grid-area: main;
  grid-area: content1;
}
#content1 p,
h3 {
  margin-left: 2.3rem;
  margin-right: 2rem;
}

#content2 {
  grid-area: content2;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#img-wrapper {
  height: 1.5rem;
  width: 1.5rem;
}

img {
  height: 100%;
  width: 100%;
}
footer {
  text-decoration: none;
  color: #b17d0d;
}

#worthless-button {
  padding: 0.4 rem;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  background-color: #f1b637;
  color: rgb(75, 75, 230);
  border-radius: 0.2rem;
  border: none;
}

#worthless-button:hover {
  cursor: pointer;
  font-size: 1.2rem;
}

ul {
  margin-right: 0;
  list-style-type: none;
}

@media only screen and (max-width: 750px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 2fr 0.1;
    grid-template-areas:
      "nav"
      "content2"
      "content1"
      "footer";
  }
}
