/* Change the properties for all the elements on the page
box-sizing: border-box hinders the page to extend beyond normal page size*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 5rem;
  display: grid;
  grid-template-columns: 1fr;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 42px;
  background-color: #cff6d6;
}
#left {
  display: flex;
}

#left div {
  margin-right: 20px;
  font-size: 0.88rem;
  border-bottom: 0px solid transparent;
}

.nav-wrapper a {
  color: #4a5b5ee3;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-wrapper a:hover {
  cursor: pointer;
  color: black;
}

.img-wrapper {
  height: 25rem;
  width: 28rem;
}

img {
  height: 100%;
  width: 100%;
  align-content: right;
}

.section {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

button {
  height: 2.2rem;
  width: 4.8rem;
  background-color: #19982f;
  color: white;
  border-radius: 2px;
  border-color: transparent;
}
button:hover {
  cursor: pointer;
  height: 2.4rem;
  width: 5.2rem;
  background-color: #08bb26;
  color: black;
  border-radius: 2.2px;
  border-color: transparent;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
